.custom-nav {
    background-color: #076747;
    /* overflow: hidden; */
    text-align: center;
}

.custom-nav a {
    display: inline-block;
    font-size: 20px;
    padding: 25px 25px;
    color: #ffffff;
    text-align: center;
    /* text-decoration: none; */
}

.custom-nav a:hover {
    background-color: #cfcfcf;
    color: black;
}
  